@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
body {
    background-clip: url("https://drive.google.com/file/d/1WJXy-UXwNtIus5zebJyoHOrpEFM42dke/view?usp=sharing");
    background-position-x: center;
    background-position-y: center;
    -webkit-background-clip: url("https://drive.google.com/file/d/1WJXy-UXwNtIus5zebJyoHOrpEFM42dke/view?usp=sharing");
}

.container {
    background-color: rgba(255, 255, 255, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}


/*Footer - pie de pagina*/

.container-footer {
    width: 100%;
    padding: 40px 0;
    background: rgb(65, 119, 130);
    margin-top: 40px;
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer {
    text-align: center;
}

.container-footer footer .logo-footer img {
    width: 100px;
}

.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
    font-size: 20px;
    margin: 20px;
    background: #e8acac;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover {
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-google-plus-g:hover {
    background: #DE4C34;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover {
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}

.container-footer footer hr {
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}

.container-footer h4 {
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}


/* video */

#hero {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* divicion de otro codigo*/

.img-fluid {
    width: auto;
    height: auto;
}

body {
    position: relative;
    margin: auto;
}

.sect {
    width: 100%;
    min-height: 500px;
}

#sect1,
#sect3 {
    background-color: #3333337d;
    color: rgb(223, 250, 171);
}

#sect2 {
    background-color: #dddddd7d;
    color: #333;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

h1 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
}

h2 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
}


/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px) {
    .header-content,
    .container-footer footer {
        max-width: 1000px;
        padding: 0 20px;
    }
    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .container-all {
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .move-container-all {
        transform: translateX(300px);
    }
    .menu {
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }
    .menu nav ul {
        flex-direction: column;
    }
    .menu nav ul li {
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }
    .menu-selected:before {
        width: 0;
    }
    .menu nav ul li a {
        margin-top: 40px;
        color: #858585;
    }
    .menu nav ul li a i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }
    #icon-menu {
        display: flex;
        right: 60px;
    }
    .container-aside {
        flex-wrap: wrap;
    }
}